body{
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
span{
    color: skyblue;
}
.container{
    display: flex;
}
.half{
    width: 70%;
    padding: 3%;
    
}
.half  img{
    width: 80% ;
    margin: 20%;
    margin-top: 4%;
    margin-left: 0%;
    
    
}
.anchor{
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 166, 0, 0.616), rgba(255, 68, 0, 0.575) );
    color: white;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 5px;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.big{
    margin-right: 10%;
}
.e1{
    padding: 30px;
    margin-top: 0%;
    margin-bottom: 40px;
    margin: 60px;
    border-left: 7px solid;
    border-image: linear-gradient( red, orange);
    border-image-slice: 1;
}
.e2{
    padding: 30px;
    margin-top: 0%;
    margin-bottom: 40px;
    margin: 60px;
    border-left: 7px solid ;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.e3{
    margin-bottom: 0%;

}
h2{
    font-size: 40px;
}
.box{
    box-shadow: 10px 10px 30px blue;
    width: 80%;
    padding: 25px;
    border-radius: 10px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer{
    text-align: center;
}